body {
    margin: 0;
    background: radial-gradient(circle, #0f172a, #020617);
    color: white;
    font-family: Arial;
    text-align: center;
}

.container {
    padding: 20px;
}

h1 {
    margin-bottom: 20px;
}

.controls {
    margin-bottom: 15px;
}

select, button {
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    border: none;
}

button {
    background: #00ff99;
    font-weight: bold;
    cursor: pointer;
}

canvas {
    background: #020617;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0,255,150,0.2);
}

.multipliers {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    flex-wrap: wrap;
}

.multi {
    padding: 10px;
    margin: 3px;
    border-radius: 8px;
    background: linear-gradient(45deg, purple, blue);
    font-size: 14px;
}
