body {
    margin: 0;
    background: radial-gradient(circle, #0f172a, #020617);
    color: white;
    font-family: Arial;
    text-align: center;
}

.container {
    padding: 10px;
    max-width: 500px;
    margin: auto;
}

h1 {
    font-size: 22px;
    margin-bottom: 10px;
}

.controls {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
}

select, button {
    padding: 8px;
    border-radius: 8px;
    border: none;
    font-size: 14px;
}

button {
    background: #00ff99;
    font-weight: bold;
    cursor: pointer;
}

canvas {
    width: 100%;
    height: auto;
    max-height: 70vh;
    background: #020617;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0,255,150,0.2);
}

.multipliers {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 8px;
}

.multi {
    padding: 6px 8px;
    margin: 2px;
    border-radius: 6px;
    background: linear-gradient(45deg, purple, blue);
    font-size: 12px;
}
